# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.dylib
*_bak*
*.o
*.a
*.out

# other extensions
tmp*
out.*
curr*
*xx
*.bin
*.ch
*.out
*.dat
*.cfg
*.md
*.h5
*.pdf
*log*
*.txt
*.bak
*.tmp
*.png
*.i

# sample file
*sample*py

# output files
*.chk

tests/


# python
*py*old*

# cmake
CMakeLists.*old
CMakeLists.*2
CMakeLists.txt_*

oldcodes/
docs/source/generated
.DS_Store

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
notused/
backup/
__pycache__/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*_wrap.c
*.sh
*deps/
*old*/
*vars*
*notes*

# tex file
*.tex
*.aux
*-inc*eps*

# test files
*.ri*
*.Hz
*.sas*
*dsz*.dat
total_*en
epsilon.x
epsilon.y
epsilon.z
Real_Space_Param.dat
source.dat
*.sas*
*.inp

# Local log files
*~

# Calculation examples
*.molden

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

CMakeCache.txt
CMakeFiles
#Makefile
cmake_install.cmake

# Memoization and caching
tmp/

# IDEs
.idea/
.vscode/
