# Byte-compiled / optimized / DLL files
*.py[cod]

# C extensions
*.so
*.dylib
*_bak*
*.o
*.a
*.out
tmp*
out.*
curr*

oldcodes/
docs/source/generated
.DS_Store

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
notused/
backup/
__pycache__/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*_wrap.c
*.sh
*deps/
*vars*
*notes*

# tex file
*.tex
*.aux
*-inc*eps*

# test files
*.ri*
*.Hz
*.sas*
*dsz*.dat
total_*en
epsilon.x
epsilon.y
epsilon.z
Real_Space_Param.dat
source.dat

# Local log files
*~

# Calculation examples
*.molden

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

CMakeCache.txt
CMakeFiles
#Makefile
cmake_install.cmake

# Memoization and caching
tmp/

# IDEs
.idea/
.vscode/
